@import "tailwindcss";

:root {
  --bg-color: #ffffff;       /* fondo claro */
  --snd-bg-color: #f3f3f3;   /* fondo secundario claro */
  --text-color: #1d1d1d;
  --main-color: #58B9FF;
  --accent-color: #7CFC00;
  --hover-color: #3eaaf7;
  --card-bg: #ffffff;
  --footer-bg: #f3f3f3;
}

/* 🌙 Modo oscuro Sims */
[data-theme="dark"] {
  --bg-color: #0b1a1f;
  --snd-bg-color: #142b33;
  --text-color: #e8f9f1;     /* texto claro verdoso */
  --main-color: #00b4d8;     /* azul Sims */
  --accent-color: #00ff87;   /* verde plumbob */
  --hover-color: #00e0a8;    /* verde agua */
  --card-bg: #0e2438;        /* azul petróleo */
  --footer-bg: #0b1a1f;
}

@theme inline {
  --color-bg: var(--bg-color);
  --color-snd-bg: var(--snd-bg-color);
  --color-text: var(--text-color);
  --color-main: var(--main-color);
  --color-accent: var(--accent-color);
  --color-hover: var(--hover-color);
  --color-card-bg: var(--card-bg);
  --color-footer-bg: var(--footer-bg);
  --font-nunito: "Nunito", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-nunito);
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.4s ease, color 0.4s ease;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn .3s ease;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}